<!DOCTYPE html>
<html>
<head>
	<title>Add a Destination</title>
	{% load staticfiles %}
 	<!-- Bootstrap -->

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 
    <!-- CSS Link -->
    <link rel="stylesheet" href="{% static 'travelplanner/css/add.css' %}" charset="utf-8"  />
</head>
<body>
	<!-- =========    navbar    ============ -->

	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="{% url 'dashboard' %}">Home</a>
			</div>
			<ul class="nav navbar-nav navbar-right">
				<li><a href="{% url 'logout' %}"><span class="glyphicon glyphicon-log-out"></span> Logout </a></li>
			</ul>
		</div>
	</nav> 
	<div class="wrapper">
		<h1>Add a destination</h1>
		<form action="{% url 'add_trip' %}" method="POST">
			{% csrf_token %}
			Destination: <input type="text" name="destination"><br><br>
			Description: <input type="text" name="description"><br><br>
			Travel Date From: <input type="date" name="travel_date_from"><br><br>
			Travel Date To: <input type="date" name="travel_date_to"><br><br>
			<button type="submit">Add</button>
		</form>
		
	</div>

</body>
</html>